/* Any comments are subject to spelling errors */

body { /* This is changes the 'body' so that it all text in the "<body> </body>" has the same font and is black */
    text-align: left;
    font-family: sans-serif;
    color: black;
}

div { /* This is used to make the error boxes as seen on the 404 page, also used for utility links */
    text-align: center;
    font-family: sans-serif;
    color: black;
    width: auto;
    border: 2px solid rgb(19, 85, 146);
    margin: auto;
    height: auto;
    background-color: lightyellow;
}

h1 { /* Used for error mesages as shown on the 404 page, and its also used for the 'STILL UNDER DEVELOPMENT' text */
    color:darkred;
    text-align: center;
    font-size: 40px;
}

h2 { /* Used for titles */
    color:darkblue;
    text-align: center;
    font-size: 40px;
}

h3 { /* Used for sub titles */
    color:darkblue;
    text-align: left;
    font-size: 20px;
}

h4 { /* Used for sub titles but in the center */
    color:darkblue;
    text-align: center;
    font-size: 20px;
}

:any-link { /* changes the color of any links on the website */
    color: rgb(100, 175, 255);
}

header { /* Used to make the header banner */
    background-color: rgb(19, 85, 146);
    text-align: center;
    font-family: sans-serif;
    color: whitesmoke;
    height: 20px;
    padding: 1px;
}

footer { /* Used to make the footer banner */
    background-color: rgb(19, 85, 146);
    text-align: center;
    font-family: sans-serif;
    color: whitesmoke;
    padding: 10px;
    font-size: 10px;
}

table { /* Used to define the tables on any givin page */
  font-family: sans-serif;
  border-collapse: collapse;
  width: 100%;
  /* font-size: 12px; */
}

.Key_table { /* Used to define the tables on any givin page */
  font-family: sans-serif;
  border-collapse: collapse;
  width: 20%;
  /* font-size: 12px; */
}

td { /* Table data (the text or images or any thing that goes in the table) */
  border: 1px solid rgb(19, 85, 146);
  text-align: center;
  margin: 2px;
  padding: 5px;
}

th { /* Table headings (the headings at the top of each collum) */
  border: 1px solid rgb(19, 85, 146);
  text-align: center;
  margin: 2px;
  padding: 5px;
  background: lightgray;
  color:darkslategray;
}

tr:nth-child(even) { /* Defines the... I dont really know what this does, just that its somthing to do with the tables */
  background-color: white;
}

.img1 { /* Changes the size of a picture */
    width: auto;
    height: 80px;
}

.img2 { /* Changes the size of a picture */
    width: auto;
    height: 120px;
}


/* Yes or no questions */
.Yes { /* Defines the color that indicates 'Yes' on a table */
    background-color: rgba(50, 150, 50, 0.6);
}

.No { /* Defines the color that indicates 'No' on a table */
    background-color: rgba(150, 50, 50, 0.6);
}


/* The 'Orbital_Status' */
.In_orbit {
    background-color: rgba(50, 150, 50, 0.6); /* Defines the color for the 'Orbital_Status', for 'In_Orbit' */
}

.Ejected {
    background-color: rgba(150, 150, 50, 0.6); /* Defines the color for the 'Orbital_Status', for 'Ejected' */
}

.Decayed {
    background-color: rgba(150, 50, 50, 0.6); /* Defines the color for the 'Orbital_Status', for 'Decayed' */
}

.Unknown {
    background-color: rgba(150, 50, 150, 0.6); /* Defines the color for the 'Orbital_Status', for 'Unknown' */
}


/* The 'Orbit_Type' */
.LEO { /* Defines the color for each orbit type, in this case it for a low Earth orbit */
    background-color: rgba(0, 0, 150, 0.8);
}

.MEO { /* Defines the color for each orbit type, in this case it for a medium Earth orbit */
    background-color: rgba(0, 0, 100, 0.7);
}

.GEO { /* Defines the color for each orbit type, in this case it for a geo-stationary/geo-synchronous Earth orbit */
    background-color: rgba(0, 0, 75, 0.65);
}

.HEO { /* Defines the color for each orbit type, in this case it for a high Earth orbit */
    background-color: rgba(0, 0, 50, 0.5);
}


/* The project status */
.Planning { /* Defines the color that indicates that im 'Planning' on doing some thing, on a table */
    background-color: rgba(50, 50, 150, 0.6);
} 

.active { /* Defines the color of the project table on the 'Index.html' page to 'active' */
    background-color: rgba(50, 150, 50, 0.6);
}

.moderately_active { /* Defines the color of the project table on the 'Index.html' page to 'inactive' */
    background-color: rgba(150, 150, 50, 0.6);
}

.inactive { /* Defines the color of the project table on the 'Index.html' page to 'inactive' */
    background-color: rgba(150, 50, 50, 0.6);
}


/* The status of the satellites */
.Operational { /* Defines the color of the table to show if something is 'Operational' */
    background-color: rgba(50, 150, 50, 0.6);
}

.Operational_Limited { /* Defines the colors of the table to show if something is 'Operational_Limited' */

    background-color: rgba(150, 150, 50, 0.6);
}

.Operational_Degraded { /* Defines the colors of the table to show if something is 'Operational_Degraded' */
    background-color: rgba(150, 100, 50, 0.6);
}

.Nonoperational { /* Defines the colors of the table to show if something is 'Nonoperational' */
    background-color: rgba(150, 50, 50, 0.6);
}

.Functional_Off { /* Defines the colors of the table to show if something is 'Functional_Off' */
    background-color: rgba(50, 50, 150, 0.6);
}

.Contradicting { /* Defines the colors of the table to show if something has 'Contradicting' info */
    background-color: rgba(150, 150, 150, 0.6)
}
