/* Any comments are subject to spelling errors */

body { /* This is changes the 'body' so that it all text in the "<body> </body>" has the same font and is black */
    text-align: left;
    font-family: sans-serif;
    color: black;
}

div { /* This is used to make the error boxes as seen on the 404 page, also used for utility links */
    text-align: center;
    font-family: sans-serif;
    color: black;
    width: auto;
    border: 2px solid rgb(19, 85, 146);
    margin: auto;
    height: auto;
    background-color: lightyellow;
}

h1 { /* Used for error mesages as shown on the 404 page, and its also used for the 'STILL UNDER DEVELOPMENT' text */
    color:darkred;
    text-align: center;
    font-size: 40px;
}

h2 { /* Used for titles */
    color:darkblue;
    text-align: center;
    font-size: 40px;
}

h3 { /* Used for sub titles */
    color:darkblue;
    text-align: left;
    font-size: 20px;
}

h4 { /* Used for sub titles but in the center */
    color:darkblue;
    text-align: center;
    font-size: 20px;
}

:any-link { /* changes the color of any links on the website */
    color: rgb(100, 100, 255);
}

::grammar-error{
    color: darkcyan;
}

::spelling-error{
    color: red;
}

header { /* Used to make the header banner */
    background-color: rgb(19, 85, 146);
    text-align: center;
    font-family: sans-serif;
    color: whitesmoke;
    height: 20px;
    padding: 1px;
}

footer { /* Used to make the footer banner */
    background-color: rgb(19, 85, 146);
    text-align: center;
    font-family: sans-serif;
    color: whitesmoke;
    padding: 10px;
    font-size: 10px;
}

table { /* Used to define the tables on any givin page */
  font-family: sans-serif;
  border-collapse: collapse;
  width: 100%;
  /* font-size: 12px; */
}

td { /* Table data (the text or images or any thing that goes in the table) */
  border: 1px solid rgb(19, 85, 146);
  text-align: center;
  margin: 2px;
  padding: 5px;
}

th { /* Table headings (the headings at the top of each collum) */
  border: 1px solid rgb(19, 85, 146);
  text-align: center;
  margin: 2px;
  padding: 5px;
  background: lightgray;
  color:darkslategray;
}

tr:nth-child(even) { /* Defines the... I dont really know what this does, just that its somthing to do with the tables */
  background-color: white;
}

.img { /* Defines the color of the tables yes or no columns to 'Yes' */
    width: auto;
    height: 80px;
}

.Yes { /* Defines the color of the tables yes or no columns to 'No' */
    background-color: rgba(50, 150, 50, 0.5);
}

.No { /* Defines the color of the project table on the 'Index.html' page to 'Yes' */
    background-color: rgba(150, 50, 50, 0.5);
}

.active { /* Defines the color of the project table on the 'Index.html' page to 'active' */
    background-color: rgba(50, 150, 50, 0.5);
}

.inactive { /* Defines the color of the project table on the 'Index.html' page to 'inactive' */
    background-color: rgba(150, 50, 50, 0.5);
}

.moderately_active { /* Defines the color of the project table on the 'Index.html' page to 'inactive' */
    background-color: rgba(150, 150, 50, 0.5);
}

.Operational { /* Defines the color of the table to show if something is 'Operational' */
    background-color: rgba(50, 150, 50, 0.5);
}

.Operational_Limited { /* Defines the colors of the table to show if something is 'Operational_Limited' */
    background-color: rgba(150, 150, 50, 0.5);
}

.Operational_Degraded { /* Defines the colors of the table to show if something is 'Operational_Degraded' */
    background-color: rgba(250, 150, 50, 0.5);
}

.Nonoperational { /* Defines the colors of the table to show if something is 'Nonoperational' */
    background-color: rgba(150, 50, 50, 0.5);
}

.Functional_Off { /* Defines the colors of the table to show if something is 'Functional_Off' */
    background-color: rgba(50, 50, 150, 0.5);
}

.Unknown { /* Defines the colors of the table to show if something is 'Unknown' */
    background-color: rgba(150, 50, 150, 0.5);
}
